<section class="parent">

  <div class="container-start">
    <img class="logo-z" src="assets/images/Z.svg" alt="">
    <div class="bottom-images-container">
      <div class="text">
        <span class="bold">ZIP</span>
        <span class="light">Messenger</span>
      </div>
      <div class="imgs">
        <img src="assets/images/V.svg" alt="">
        <img src="assets/images/S.svg" alt="">
        <img src="assets/images/G.svg" alt="">
      </div>
    </div>
  </div>

  <div class="container-middle">
    <div class="header">
      <span class="bold">Message</span>
      <span class="light">Enter message below</span>
    </div>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>

  <div class="container-end">

    <button class="send">Send</button>
    <button class="cancel">Cancel</button>

  </div>

</section>

<router-outlet></router-outlet>